<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SrsApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>
<body class="bg-gray-100">
  <% if user_signed_in? %>
  <nav class="bg-gradient-to-r from-blue-900 to-blue-400 shadow py-4">
    <div class="container mx-auto flex items-center justify-between">
      <!-- Left corner: Logo -->
      <div class="flex items-center flex-shrink-0 text-white mr-6 text-2xl">
        Employee verification
      </div>

      <!-- Center: Navigation links -->
      <div class="flex-grow text-lg lg:flex lg:justify-center lg:items-center">
        <a href="<%= root_path %>" class="text-white hover:text-gray-200 mr-4">Key Features</a>
        <a href="<%= employees_path %>" class="text-white hover:text-gray-200 mr-4">Trust Factors </a>
        <a href="<%= employees_path %>" class="text-white hover:text-gray-200 mr-4">Contact Information  </a>
      </div>

      <!-- Right corner: Signout button -->
      <div>
        <a href="#" class="text-white hover:text-gray-200">Welcome <%= current_user&.email %></a>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-4" %>
      </div>
    </div>
  </nav>
  <% else %>
  <nav class="bg-gradient-to-r from-blue-900 to-blue-400 py-4">
    <div class="container mx-auto flex items-center justify-between">
      <!-- Left corner: Logo -->
      <div class="flex items-center flex-shrink-0 text-4xl">
        <span style="color: #51D0F0;">Shad</span><span style="color:#4066AD;">Box</span>
      </div>

      <!-- Center: Navigation links -->
      <div class="hidden lg:flex lg:gap-10 text-xl">
        <a href="#" class="text-white hover:text-gray-200">Home</a>
        <a href="#" class="text-white hover:text-gray-200">Company</a>
        <a href="#" class="text-white hover:text-gray-200">Marketplace</a>
        <a href="#" class="text-white hover:text-gray-200">Features</a>
        <a href="#" class="text-white hover:text-gray-200">Team</a>
        <a href="#" class="text-white hover:text-gray-200">Contact</a>
      </div>

      <!-- Right corner: Signin button -->
      <div class="flex items-center">
        <%= button_to "Sign in", new_user_session_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    </div>
  </nav>
  <% end %>

  <p class="notice"><%= notice %></p> 
  <p class="alert"><%= alert %></p>

  <main class="container mx-auto my-8">
    <%= yield %>
  </main>
</body>
</html>
